body {
  margin: 0;
}

/*barra de navegacion*/
#nav-bar {
  top: 0;
  bottom: -5px;
  width: 60px;
  height: 100%;
  position: fixed;
  background: #0086FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

#herramientas {
  top: 0;
  left: 60px;
  bottom: -5px;
  padding: 8px;
  width: 250px;
  height: 100%;
  position: fixed;
  background: #E4F2FE;
  font-family: sans-serif;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#herramientas.active {
  left: 0;
}

ul {
  margin-left: -35px;
}

.organizar-herramientas {
  margin: 20px;
}

li {
  padding-top: 20px;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-size: 15px;
  font-weight: 700;
  opacity: 50%;
  cursor: pointer;
}


/*------------------*/
.fa-home {
  margin-right: 10px;
}

.fa-trash {
  margin-right: 10px;
}

.fa-box-open {
  margin-right: 10px;
}

.fa-dollar-sign {
  margin-right: 15px;
  margin-left: 5px;
}

.fa-users {
  margin-right: 10px;
}

.fa-user-check {
  margin-right: 10px;
}

.fa-house-user {
  margin-right: 10px;
}

/*------------------*/
.fa-home:hover {
  color: #0066D4;
}

.fa-trash:hover {
  color: #0066D4;
}

.fa-box-open:hover {
  color: #0066D4;
}

.fa-dollar-sign:hover {
  color: #0066D4;
}

.fa-users:hover {
  color: #0066D4;
}

.fa-user-check:hover {
  color: #0066D4;
}

.fa-house-user:hover {
  color: #0066D4;
}
/*------------------*/


/*------------------*/


.inicio{
  text-decoration: none;
  color: #212121;
}

.papelera{
  text-decoration: none;
  color: #212121;
}

.productos{
  text-decoration: none;
  color: #212121;
}
.ventas{
  text-decoration: none;
  color: #212121;
}
.usuarios{
  text-decoration: none;
  color: #212121;
}



.tituloH {
  margin-bottom: 1px;
  color: #212121;
  font-size: 20px;
  font-weight: 700;
}

.fecha-hoy {
  margin-bottom: 20px;
  color: #212121;
  font-size: 16px;
  opacity: 60%;
}

.separarH {
  width: 100%;
  height: 2px;
  margin-top: -8px;
  border-bottom: 1px solid gray;
  opacity: 50%;
}

.separar {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid gray;
  opacity: 50%;
}

/*--------------------------------*/
.menu-wrapper {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  margin: auto;
  width: 35px;
  height: 30px;
  cursor: pointer;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 35px;
  height: 4px;
}

.hamburger-menu {
  position: relative;
  -webkit-transform: translateY(13px);
          transform: translateY(13px);
  background: white;
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}

.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 13px;
  background: white;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  background: white;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/*--------------------------------*/
.logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  width: 55px;
  height: 55px;
}

span {
  position: absolute;
  bottom: 60px;
  padding: 17px;
  margin: auto;
  font-size: 25px;
  color: white;
  cursor: pointer;
}



.fa-sign-out-alt {
  position: absolute;
  bottom: 60px;
  padding: 17px;
  margin: auto;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.fa-question-circle {
  position: absolute;
  bottom: 180px;
  padding: 17px;
  margin: auto;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.fa-cog {
  position: absolute;
  bottom: 120px;
  padding: 17px;
  margin: auto;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.fa-bell {
  position: absolute;
  bottom: 240px;
  padding: 17px;
  margin: auto;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
.fa-sign-out-alt:hover {
  color: #d6eaff;
}

.fa-question-circle:hover {
  color: #b8d9fc;
}

.fa-cog:hover {
  color: #b8d9fc;
}

.fa-bell:hover {
  color: #b8d9fc;
}

/*# sourceMappingURL=StylesNav.css.map */