/*body*/
body{
  margin: auto;
}
.fondo{
  width: 100%;
  padding: 20px;
  height:100vh ;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 95.45% 104.17%, #e459ea 0, #c84ded 16.67%, #a544f0 33.33%, #783cf2 50%, #2538f4 66.67%, #0039f5 83.33%, #008cff 100%) !important;
}

/*main container*/
main {
  margin: 0 auto;
  width: 40%;
  border: 3px solid white;
  border-radius: 30px;
  height: 650px;
  background: white;
  -webkit-box-shadow: 100px #0086FF;
          box-shadow: 100px #0086FF;
          
}
/*container principal*/
section {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*container de imagen*/
.imagen-login {
  width: 50%;
  height: 644px;
  background: url(../Recursos-graficos/Tech.png);
  background-size: cover;
  background-position: center;
  border-radius: 30px 0px 0pc 30px;
  float: left;
}

/*container de inicio sesion*/
.inicio-login {
  width: 50%;
  margin: auto;
  
}

.logoI{
  margin: auto;
  width: 80px;
  height: 80px;
  background: url(../Recursos-graficos/logo-color.png);
  background-size: cover;
  margin-bottom: 15px;
}

.texto-login {
  color: #0086FF;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inputs{
  width: 100%;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  
}
input {
  width: 100%;
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 35%;
  border-style: solid;
  outline: none;
  background-color: #edeef5;
  
}

.box-password {
  width: 55%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-password2 {
  width: 55%;
  margin: auto;
  margin-top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

/*toggle de password*/
.wrapper {
  margin: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#switch {
  visibility: hidden;
}

.switch_label {
  position: relative;
  cursor: pointer;
  width: 120px;
  height: 28px;
  background: #fff;
  border: 2px solid #CBCBCB;
  opacity: 90%;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.switch_label:hover {
  background: #f1f1f1;
}

.onf_btn {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #CBCBCB;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* checking style */
#switch:checked + .switch_label {
  background: #0086FF;
  border: 2px solid #0086FF;
}

#switch:checked + .switch_label:hover {
  background: #0086FF;
}

/* move */
#switch:checked + .switch_label .onf_btn {
  left: 34px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #0066D4;
          box-shadow: 1px 2px 3px #0066D4;
}

/*fin toggle password*/
.remember-password {
  font-family: 'Montserrat medium', sans-serif;
  color: rgba(128, 128, 128, 0.788);
  opacity: 70%;
  font-size: 13px;
}

.forget-password {
  font-family: 'Montserrat medium', sans-serif;
  color: #0086FF;
  margin-top: 40px;
  opacity: 70%;
  font-size: 13px;
  cursor: pointer;
  float: left;
  
}

.forget-password:hover {
  color: #0066D4;
}

.separador {
  background-color: gray;
  width: 55%;
  margin: auto;
  height: 1px;
  opacity: 30%;
}

.enter-login {
  width: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #0086FF;
  border-radius: 8px;
  cursor: pointer;
}

.enter-login:hover {
  background-color: #0066D4;
}

.img {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.google {
  width: 120px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  font-size: 12px;
  border-radius: 30px;
  color: rgba(128, 128, 128, 0.733);
  opacity: 60%;
  border: 1px solid rgba(128, 128, 128, 0.726);
  cursor: pointer;
}

.google:hover {
  border: 1px solid #0086FF;
  color: #0086FF;
  background-color: #eef7ff;
}

/*Error page*/
.error{
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 700px;
  background: url(../Recursos-graficos/Na_June_67\ [Convertido].png);
  background-size: cover;
  margin-bottom: 15px;
}
/*Error page*/


/*Responsive*/
@media screen and (max-width: 1080px) {
  main {
    width: 80%;
  }
}

@media screen and (max-width: 1847px) {
  main {
    width: 60%;
  }
}

@media screen and (max-width: 920px) {
  main {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */